extends ./common/layout.pug
block title 
    title gulp构建h5 
block headJs 
    script(src="res/js/flexible.js")
block content 
    .test h5页面333333444333333444
block scripts 
    script(src="res/js/lib.js")
    script(src="res/js/index.js")
